<!doctype html>
<html lang="en">

<head th:replace="admin/plantillas/dashboard :: cabecera"></head>

<body>
	<div class="wrapper">
		<!-- menu -->
		<div class="sidebar" data-color="white" data-active-color="danger">
			<div class="logo">
				<a th:href="@{/admin/vista}" class="simple-text logo-mini">
					<div class="logo-image-small">
						<img th:src="@{/dashboard/assets/img/tienda.png}">
					</div> <!-- <p>CT</p> -->
				</a> <a th:href="@{/admin/vista}" class="simple-text logo-normal">
					Carlos's Market <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
				</a>
			</div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class=""><a th:href="@{/admin/dashboard/}"> <i
							class="nc-icon nc-layout-11"></i>
							<p>Dashboard</p>
					</a></li>
					<li><a th:href="@{/admin/productos/}"> <i
							class="nc-icon nc-bag-16"></i>
							<p>Productos</p>
					</a></li>
					<li><a th:href="@{/admin/categorias/}"> <i
							class="nc-icon nc-bank"></i>
							<p>Categorías</p>
					</a></li>
					<li><a th:href="@{/admin/proveedores/}"> <i
							class="nc-icon nc-bus-front-12"></i>
							<p>Proveedores</p>
					</a></li>
					<li><a th:href="@{/admin/clientes/}"> <i
							class="nc-icon nc-single-02"></i>
							<p>Clientes</p>
					</a></li>
					<li class="active"><a class="nav-link dropdown-toggle"
						href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"><i
							class="nc-icon nc-paper"></i> Ordenes</a>
						<div class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/admin/ordenesfaltantes}">Por atender</a> <a
								class="dropdown-item" th:href="@{/admin/ordenesatendidas}">Atendidas</a> <a
								class="dropdown-item" th:href="@{/admin/ordenes}">Totales</a>
						</div> <!--  
					<a th:href="@{/admin/ordenes/}"> <i
							class="nc-icon nc-paper"></i>
							<p>Ordenes</p>
					</a>--></li>

				</ul>
			</div>
		</div>
		<!-- end menu -->
		<div class="main-panel">
			<!-- Navbar -->
			<div th:fragment="barra">
				<nav
					class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
					<div class="container-fluid">
						<div class="navbar-wrapper">
							<div class="navbar-toggle">
								<button type="button" class="navbar-toggler">
									<span class="navbar-toggler-bar bar1"></span> <span
										class="navbar-toggler-bar bar2"></span> <span
										class="navbar-toggler-bar bar3"></span>
								</button>
							</div>
							<a class="navbar-brand" href="javascript:;">Title</a>
						</div>
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navigation"
							aria-controls="navigation-index" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-bar navbar-kebab"></span> <span
								class="navbar-toggler-bar navbar-kebab"></span> <span
								class="navbar-toggler-bar navbar-kebab"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end"
							id="navigation">
							ADMIN
							<ul class="navbar-nav">
								<li class="nav-item btn-rotate dropdown"><a
									class="nav-link dropdown-toggle" href="http://example.com"
									id="navbarDropdownMenuLink" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false"> <i
										class="nc-icon nc-circle-10"></i>
										<p>
											<span class="d-lg-none d-md-block">Some Actions</span>
										</p>
								</a>
									<div class="dropdown-menu dropdown-menu-right"
										aria-labelledby="navbarDropdownMenuLink">
										<a class="dropdown-item" href="#">Configurar cuenta</a> <a
											class="dropdown-item" th:href="@{/user/salir}">Salir</a>
									</div></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>

			<!-- End Navbar -->
			<div class="content">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Lista de Ordenes por Atender</h4>
							</div>
							<div class="card-body">

								<div class="toolbar">
									<!--        Here you can write extra buttons/actions for the toolbar              -->
								</div>
								<table id="tablaBoletas" class="table table-hover" width="100%">
									<thead class=" text-primary">
										<tr>
											<th>Número</th>
											<th>Total</th>
											<th>Fecha de Recepción</th>
											<th>Cliente</th>
											<th th:if="${entrega == false}">Acciones</th>


										</tr>
									</thead>
									<tbody>
										<tr th:each="item: ${listaBoletas}">
											<td th:text="${item.numero}"></td>
											<td th:text="${item.total}"></td>
											<td th:text="${item.llegada}"></td>
											<td th:text="${item.usuario.nombre}"></td>
											<div th:if="${item.entrega == false}"><td><a th:href="@{/admin/lista/{id} (id=${item.id})}"
												class="btn btn-info">Alistar pedido</a></td></div>
											

										</tr>
									</tbody>
								</table>
							</div>
							<!-- end content-->
						
						</div>
						<!--  end card  -->
					</div>
					<!-- end col-md-12 -->
				</div>
				<!-- end row -->
			</div>






			<div th:fragment="pie">
				<footer class="footer">
					<div class="container">
						<div class="row">
							<nav class="footer-nav">
								<ul>
									<a target="_blank" class="btn-social btn-facebook"> <i
										class="fab fa-facebook-f"></i>
									</a>
									<!--  
									<a target="_blank" class="btn-social btn-youtube"> <i
										class="fab fa-youtube"></i>
									</a>
									<a target="_blank" class="btn-social btn-digg"> <i
										class="fab fa-github" style="font-size: 15px;"></i>
									</a> -->
								</ul>
							</nav>

							<div class="credits ml-auto">
								<span class="copyright"> © <script>
									document.write(new Date().getFullYear())
								</script>, Darwin Tocas
								</span>
							</div>
						</div>
					</div>
				</footer>

			</div>
		</div>
	</div>

	<div th:replace="admin/plantillas/dashboard :: librerias"></div>
	<script>
		$(document).ready(function() {
			$('#tablaBoletas').DataTable({
				"pagingType" : "full_numbers",
				"lengthMenu" : [ [ 10, 15, 20, -1 ], [ 10, 15, 20, "All" ] ],
				responsive : true,
				language : {
					search : "_INPUT_",
					searchPlaceholder : "Buscar",
					"lengthMenu" : "Mostrar _MENU_ registros por hoja",
					"info" : "Página _PAGE_ de _PAGES_",
					"paginate" : {
						"first" : "Primero",
						"last" : "Último",
						"next" : "Siguiente",
						"previous" : "Anterior"
					},
				}
			});
		});

		$('body').on('click', '.editarCategoria', function() {
			$('#titulo').html("Editar Categoría");
			$('#id').val($(this).attr('id'));
			$('#nombre').val($(this).attr('param1'));
			$('#nuevaCat').modal({
				show : true
			});
		});
	</script>

	<!-- Modal 
	<div class="modal fade" id="categoriaModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="titleModal">Registrar nueva
						categoría</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<form th:action="@{/admin/categorias/form}" method="post"
					th:object="${categoria}">
					<input type="hidden" th:field="*{id}">
					<div class="modal-body">
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="nombre">Nombre</label> <input type="text"
									th:field="*{nombre}" class="form-control">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-12">
								<label for="descripcion">Descripción</label>
								<textarea class="form-control" th:field="*{descripcion}"
									rows="3"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<div class="left-side">
							<button type="button" class="btn btn-default btn-link"
								data-dismiss="modal">Cancelar</button>
						</div>
						<div class="divider"></div>
						<div class="right-side">
							<button type="submit" class="btn btn-success btn-link">Guardar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
-->
	<script type="text/javascript"
		th:src="@{/dashboard/assets/js/categoria.js}"></script>
</body>

</html>
