<!doctype html>
<html lang="en">

<head th:fragment="cabecera">
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76"
	href="./assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="./assets/img/favicon.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Paper Dashboard 2 by Creative Tim</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link
	th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,700,200}"
	rel="stylesheet" />
<link
	th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css}"
	rel="stylesheet">
<!-- CSS Files -->
<link th:href="@{/dashboard/assets/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/dashboard/assets/css/foto.css}" rel="stylesheet">
<link th:href="@{/dashboard/assets/css/social.css}" rel="stylesheet">
<link th:href="@{/dashboard/assets/css/all.css}" rel="stylesheet" />
<link th:href="@{/dashboard/assets/css/paper-dashboard.css?v=2.0.1}"
	rel="stylesheet" />
<link th:href="@{/dashboard/assets/css/datatables.min.css}" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<!-- menu -->
		<div class="sidebar" data-color="white" data-active-color="danger">
			<div class="logo">
				<a href="template.html" class="simple-text logo-mini">
					<div class="logo-image-small">
						<img th:src="@{./dashboard/assets/img/tienda.png}">
					</div> <!-- <p>CT</p> -->
				</a> <a href="template.html" class="simple-text logo-normal"> Tienda
					Menos <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
				</a>
			</div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li class="active "><a th:href="@{/productos/}"> <i
							class="nc-icon nc-bag-16"></i>
							<p>Productos</p>
					</a></li>
					<li><a th:href="@{/categorias/}"> <i
							class="nc-icon nc-bank"></i>
							<p>Categorías</p>
					</a></li>
					<li><a th:href="@{/proveedores/}"> <i
							class="nc-icon nc-bus-front-12"></i>
							<p>Proveedores</p>
					</a></li>
				</ul>
			</div>
		</div>
		<!-- end menu -->
		<div class="main-panel">
			<!-- Navbar -->
			<div th:fragment="barra">
				<nav
					class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
					<div class="container-fluid">
						<div class="navbar-wrapper">
							<div class="navbar-toggle">
								<button type="button" class="navbar-toggler">
									<span class="navbar-toggler-bar bar1"></span> <span
										class="navbar-toggler-bar bar2"></span> <span
										class="navbar-toggler-bar bar3"></span>
								</button>
							</div>
							<a class="navbar-brand" href="javascript:;">Title</a>
						</div>
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navigation"
							aria-controls="navigation-index" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-bar navbar-kebab"></span> <span
								class="navbar-toggler-bar navbar-kebab"></span> <span
								class="navbar-toggler-bar navbar-kebab"></span>
						</button>
						<div class="collapse navbar-collapse justify-content-end"
							id="navigation">
							ADMIN
							<ul class="navbar-nav">
								<li class="nav-item btn-rotate dropdown"><a
									class="nav-link dropdown-toggle" href="http://example.com"
									id="navbarDropdownMenuLink" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false"> <i
										class="nc-icon nc-circle-10"></i>
										<p>
											<span class="d-lg-none d-md-block">Some Actions</span>
										</p>
								</a>
									<div class="dropdown-menu dropdown-menu-right"
										aria-labelledby="navbarDropdownMenuLink">
										<a class="dropdown-item" href="#">Configurar cuenta</a> <a
											class="dropdown-item" th:href="@{/user/salir}">Salir</a>
									</div></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>

			<!-- End Navbar -->
			<div class="content">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Lista</h4>
							</div>
							<div class="card-body">
								<div class="toolbar">
									<!--        Here you can write extra buttons/actions for the toolbar              -->
								</div>
								<table id="datatable" class="table table-borderless table-hover"
									width="100%">
									<thead class=" text-primary">
										<tr>
											<th>Name</th>
											<th>Position</th>
											<th>Office</th>
											<th>Age</th>
											<th class="disabled-sorting text-right">Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Darwin Tocas</td>
											<td>Support Engineer</td>
											<td>Singapore</td>
											<td>64</td>
											<td class="text-right"><a href="#"
												class="btn btn-warning btn-link btn-icon btn-sm edit"><i
													class="fa fa-edit"></i></a> <a href="#"
												class="btn btn-danger btn-link btn-icon btn-sm remove"><i
													class="fa fa-times"></i></a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- end content-->
							<div class="col-md-12">
								<button class="btn btn-danger"
									style="background-color: #f5593d; border-radius: 20px;">Nuevo</button>
							</div>
						</div>
						<!--  end card  -->
					</div>
					<!-- end col-md-12 -->
				</div>
				<!-- end row -->
			</div>
			<div th:fragment="pie">
				<footer class="footer">
					<div class="container">
						<div class="row">
							<nav class="footer-nav">
								<ul>
									<a target="_blank" class="btn-social btn-facebook"> <i
										class="fab fa-facebook-f"></i>
									</a>
									<!--  
									<a target="_blank" class="btn-social btn-youtube"> <i
										class="fab fa-youtube"></i>
									</a>
									<a target="_blank" class="btn-social btn-digg"> <i
										class="fab fa-github" style="font-size: 15px;"></i>
									</a>-->
								</ul>
							</nav>

							<div class="credits ml-auto">
								<span class="copyright"> © <script>
                  document.write(new Date().getFullYear())
                </script>, Darwin Tocas
								</span>
							</div>
						</div>
					</div>
				</footer>

			</div>


		</div>
	</div>

	<div th:fragment="librerias">
		<!--   Core JS Files   -->
		<script th:src="@{/dashboard/assets/js/core/jquery-3.5.1.min.js}"></script>
		<script th:src="@{/dashboard/assets/js/core/bootstrap.bundle.min.js}"></script>
		<!-- Chart JS -->
		<script th:src="@{/dashboard/assets/js/plugins/chartjs.min.js}"></script>
		<!--  Notifications Plugin    -->
		<script th:src="@{/dashboard/assets/js/plugins/bootstrap-notify.js}"></script>
		<script th:src="@{/dashboard/assets/js/datatables.min.js}"></script>
	</div>

</body>

</html>
