<!DOCTYPE html>
<html lang="es">

<head th:fragment="cabecera">
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Carlos's Market</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/vista/assets/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/vista/assets/css/all.min.css}" />

<!-- Custom styles for this template -->
<link rel="stylesheet"
	th:href="@{/vista/assets/css/heroic-features.css}" />
<link rel="stylesheet" th:href="@{/vista/assets/css/jquery-ui.min.css}" />
</head>

<body>
	<div th:fragment="header">
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}">Carlos's Market</a>

				<form class="d-flex" method="post" th:action="@{/buscar}">
					<input class="form-control mr-sm-2 me-2" type="search"
						placeholder="Buscar" aria-label="Buscar" name="nombre"
						autocomplete="off" />
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
						Buscar</button>
				</form>
				<div class="dropdown ms-3">
					<button class="btn btn-secondary dropdown-toggle" type="button"
						id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
						Categorías</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<li><a name="id" th:each="item : ${categorias}"
							th:field="*{item.id}" th:value="${item.id}"
							th:text="${item.nombre}" class="dropdown-item" type="button"
							th:href="@{/vercategoria/{id} (id=${item.id})}">Action</a></li>
					</ul>
				</div>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
					aria-controls="navbarTogglerDemo02" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" th:href="@{/vercarrito}"><i
								class="fas fa-shopping-cart m-1"></i>Carrito</a></li>
						<li class="nav-item"><a class="nav-link active"
							th:href="@{/user/login}"><i class="fas fa-sign-in-alt m-1"></i>Login</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

	</div>



	<div th:fragment="logheader">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" th:href="@{/}">Carlos's Market</a>

				<form class="d-flex" method="post" th:action="@{/buscar}">
					<input class="form-control mr-sm-2 me-2" type="search"
						placeholder="Buscar" aria-label="Buscar" name="nombre"
						autocomplete="off" />
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
						Buscar</button>
				</form>
				<div class="dropdown ms-3">
					<button class="btn btn-secondary dropdown-toggle" type="button"
						id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
						Categorías</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<li><a name="id" th:each="item : ${categorias}"
							th:field="*{item.id}" th:value="${item.id}"
							th:text="${item.nombre}" class="dropdown-item" type="button"
							th:href="@{/vercategoria/{id} (id=${item.id})}">Action</a></li>
					</ul>
				</div>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
					aria-controls="navbarNavDarkDropdown" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" th:href="@{/admin/}"
							id="navbarDarkDropdownMenuLink" role="button"
							data-bs-toggle="dropdown" aria-expanded="false"> USER </a>
							<ul class="dropdown-menu dropdown-menu-dark"
								aria-labelledby="navbarDarkDropdownMenuLink">
								<li><a class="dropdown-item" th:href="@{/vercarrito}">Carrito</a></li>
								<li><a class="dropdown-item" th:href="@{/user/compras}">Compras</a></li>
								<li><a class="dropdown-item" th:href="@{/user/salir}">Salir</a></li>
								<!--  <li><a class="dropdown-item" href="#">Another action</a></li>-->
							</ul></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>


	<!-- Page Content -->
	<div class="container">
		<!-- Jumbotron Header -->
		<div class="mt-3 p-5 mb-4 bg-light rounded-3">
			<div class="container-fluid py-5">
				<h1 class="display-5 fw-bold">Bienvenido a Carlos's Market</h1>
				<p class="col-md-8 fs-4">Using a seri.</p>
			</div>
		</div>

		<!-- Page Features -->
		<div class="row text-center">
			<div class="col-lg-3 col-md-6 mb-4" th:each="item :${productos}">
				<div class="card h-100">
					<img class="card-img-top"
						th:src="@{/images/{img} (img=${item.imagen})}" alt="" />
					<div class="card-body">
						<p class="text-capitalize fs-5 fw-bold" th:text="${item.nombre}"></p>
						<p class="text-capitalize fs-6 fw-bold text-danger">
							S/ <span th:text="${item.precio}"></span>
						</p>
					</div>
					<div class="card-footer">
						<a href="productohome.html" class="btn btn-success">Ver
							producto</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->

	<div th:fragment="pie">
		<!-- Footer-->
		<footer class="py-5 bg-dark">
			<div class="container">
				<p class="m-0 text-center text-white">Copyright &copy; Your
					Website 2022</p>
			</div>
		</footer>
	</div>


	<div th:fragment="librerias">
		<!-- Bootstrap core JS-->
		<script
			th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js}"></script>
		<!-- Bootstrap core JavaScript -->
		<script th:src="@{/vista/vendor/jquery/jquery.min.js}"></script>
		<script th:src="@{/vista/vendor/bootstrap/js/jquery-ui.min.js}"></script>
		<script th:src="@{/vista/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</div>


</body>

</html>