<!DOCTYPE html>
<html lang="es">

<head th:replace="user/plantilla/user :: cabecera">

</head>

<body>
	<!-- Navigation -->
	<div th:if="${var==null}">
	<div   th:replace="user/plantilla/user :: header"  ></div>
	</div>
	
	<div th:unless="${var==null}">
		<div   th:replace="user/plantilla/user :: logheader" ></div>
	</div>


	<!-- Page Content -->
	<div class="container">


		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			<small>Carrito</small>
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
			<li class="breadcrumb-item active">Carrito</li>
		</ol>

		<!-- Blog Post -->
		<div class="card mb-4">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-9">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">Producto</th>
									<th scope="col">Precio</th>
									<th scope="col">Cantidad</th>
									<th scope="col">Total</th>
									<th scope="col">Acción</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${carrito}">
									<td th:text="${item.nombre}">Nombre</td>
									<td th:text="${item.precio}">Precio</td>
									<td th:text="${item.cantidad}">Cantidad</td>
									<td th:text="${item.total}">Total</td>
									<td><a
										th:href="@{/carrito/eliminar/{id} (id=${item.producto.id})}"
										class="btn btn-danger">Quitar</a></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="col-lg-3">
						<h2 class="card-title">SUBTOTAL</h2>

						<ul class="list-group">
							<li class="list-group-item">
								<h5 th:text="${boleta.total}">Total: $ 10</h5>
							</li>
							<a th:href="@{/resumenorden}" class="btn btn-dark">Ver Orden</a>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->


	<!-- Footer-->
	<div th:replace="user/plantilla/user :: pie"></div>
	<div th:replace="user/plantilla/user :: librerias"></div>
</body>

</html>