<!DOCTYPE html>
<html lang="es">

<head th:replace="user/plantilla/user :: cabecera">
<body>
	<!-- Navigation -->
	<div th:if="${var==null}">
		<div th:replace="user/plantilla/user :: header"></div>
	</div>

	<div th:unless="${var==null}">
		<div th:replace="user/plantilla/user :: logheader"></div>
	</div>

	<!-- Page Content -->
	<div class="container">


		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			 <small>Compras</small>
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
			<li class="breadcrumb-item active">Compras</li>
		</ol>

		<!-- Blog Post -->
		<div class="card mb-4">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-12">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">No. de Orden</th>
									<th scope="col">Fecha</th>
									<th scope="col">Valor</th>
									<th scope="col">Acción</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${boletas}">
									<td th:text="${item.numero}">4555454</td>
									<td th:text="${item.llegada}">Fecha de Compra</td>
									<td th:text="${item.total}">Total</td>
									<td><a th:href="@{/user/comprasdetalles/{id} (id=${item.id})}" class="btn btn-success">Ver
											Detalle</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<!-- Footer-->
	<div th:replace="user/plantilla/user :: pie"></div>
	<div th:replace="user/plantilla/user :: librerias"></div>
</body>

</html>