<!DOCTYPE html>
<html lang="es">

<head th:replace="user/plantilla/user :: cabecera">
<body>
	<!-- Navigation -->
	<div th:if="${var==null}">
		<div th:replace="user/plantilla/user :: header"></div>
	</div>

	<div th:unless="${var==null}">
		<div th:replace="user/plantilla/user :: logheader"></div>
	</div>


	<!-- Page Content -->
	<div class="container">


		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			 <small>Detalles</small>
		</h1>
		<div aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item"><a th:href="@{/user/compras}">Compras</a></li>
				<li class="breadcrumb-item active">Detalle de Compra</li>
			</ol>
		</div>


		<!-- Blog Post -->
		<div class="card mb-4">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-12">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">Cantidad</th>
									<th scope="col">Producto</th>
									<th scope="col">Precio</th>
									<th scope="col">Total</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${detalles}">
									<td th:text="${item.cantidad}">Cantidad</td>
									<td th:text="${item.nombre}">Producto</td>
									<td th:text="${item.precio}">Precio</td>
									<td th:text="${item.total}">Total</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<!-- Footer-->

	<div th:replace="user/plantilla/user :: pie"></div>
	<div th:replace="user/plantilla/user :: librerias"></div>
</body>

</html>