<!DOCTYPE html>
<html>
<head th:replace="user/plantilla/user :: cabecera">

</head>

<body>
	<div class="card text-center mb-4">
		<div class="card-header">Gracias Por tu compra</div>
		<div class="card-body">
			<h1 class="card-title">Carlos's Market te agradece por tu preferencia</h1>
			<h2>Esperamos que vuelvas pronto</h2>
			<h2>y disfrutes de tu pedido</h2>
			<h2>Recueda que nuestro horario de atención es de 8 am a 11 pm</h2>
			
			
			
		</div>
		<div class="card-footer text-muted text-center">
		
		<a th:href="@{/}" class="btn btn-dark me-2">Volver a la tienda</a>
		<a th:href="@{/user/salir}" class="btn btn-danger ms-2">Cerrar Sesión</a>
		</div>
	</div>



	<!-- Footer-->
	<div th:replace="user/plantilla/user :: pie"></div>
	<div th:replace="user/plantilla/user :: librerias"></div>
</body>
</html>