<!DOCTYPE html>
<html lang="es">

<head th:replace="user/plantilla/user :: cabecera">

</head>

<body>
	<!-- Navigation -->
	<div th:if="${var==null}">
		<div th:replace="user/plantilla/user :: header"></div>
	</div>

	<div th:unless="${var==null}">
		<div th:replace="user/plantilla/user :: logheader"></div>
	</div>


	<!-- Page Content -->
	<div class="container">
		<!-- Jumbotron Header -->
		<div class="mt-3 p-5 mb-4 bg-light rounded-3">
			<div class="container-fluid py-5">
				<h1 class="display-5 fw-bold">Bienvenido a Carlos's Market</h1>
				<p class="col-md-8 fs-4">Los mejores productos al mejor precio.</p>
			</div>
		</div>

		<!-- Page Features -->
		<div class="row text-center">
			<div class="col-lg-3 col-md-6 mb-4" th:each="item :${productos}">
				<div class="card h-100">
					<img class="card-img-top"
						th:src="@{/images/{img} (img=${item.imagen})}" alt="" />
					<div class="card-body">
						<p class="text-capitalize fs-5 fw-bold" th:text="${item.nombre}"></p>
						<p class="text-capitalize fs-6 fw-bold text-danger">
							S/ <span th:text="${item.precio}"></span>
						</p>
					</div>
					<div class="card-footer">
						<div th:if="${item.cantidad >5}">
							<a th:href="@{/productohome/{id} (id=${item.id}) }"
								class="btn btn-success">Ver producto</a>
						</div>
						<div th:if="${item.cantidad <=5}">
							<span class="text-danger text-center">Sin stock :( dentro de poco agregaremos mas productos </span>	
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->

	<div th:replace="user/plantilla/user :: pie"></div>
	<div th:replace="user/plantilla/user :: librerias"></div>
</body>

</html>