<!DOCTYPE html>
<html lang="es">

<head th:replace="user/plantilla/user :: cabecera">

</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">Carlos's Market</a>

			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
				aria-controls="navbarTogglerDemo02" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active" th:href="@{/}"><i
							class="fas fa-undo-alt m-1"></i>Volver al principio</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container mt-5">

		<div class="card mb-3 bg-info">
			<div class="row no-gutters">
				<div class="col-md-4"></div>
				<div class="col-md-8">
					<div class="card-body">
						<h2>Registro</h2>

					</div>
				</div>
			</div>
		</div>
		<form th:action="@{/user/guardar}" th:object="${usuario}" class="mt-5"
			method="post">
			<div class="form-group">

				<input type="hidden" th:field="*{id}"> <label for="nombre">Nombres:</label>
				<input type="text" class="form-control" required
					th:field="*{nombre}" placeholder="Ingrese sus nombres"
					autocomplete="off">
			</div>

			<div class="form-group mt-1">
				<label for="email">Email:</label> <input type="email"
					class="form-control" required placeholder="Ingrese su email"
					th:field="*{email}" autocomplete="off">
			</div>

			<div class="form-group  mt-1">
				<label for="direccion">Dirección:</label> <input type="text"
					class="form-control" name="direccion" required
					placeholder="Ingrese su dirección" th:field="*{direccion}"
					autocomplete="off">
			</div>

			<div class="form-group  mt-1">
				<label for="direccion">Teléfono/celular</label> <input type="text"
					class="form-control" required
					placeholder="Ingrese su número de teléfono o celular" th:field="*{telefono}"
					autocomplete="off">
			</div>

			<div class="form-group  mt-1">
				<label for="pwd">Contraseña</label> <input type="password"
					class="form-control" required placeholder="Ingrese su contraseña"
					th:field="*{passworrd}" autocomplete="off">
			</div>
			<div class="col-sm-2  mt-1">
				<button type="submit" class="btn btn-success mt-4 mb-5">
					<i class="fas fa-user-check me-2"></i>Registrarse
				</button>
			</div>
		</form>

	</div>
	<div th:replace="user/plantilla/user :: pie"></div>
	<div th:replace="user/plantilla/user :: librerias"></div>
</body>

</html>