<!DOCTYPE html>
<html lang="es">

<head th:replace="user/plantilla/user :: cabecera">

</head>

<body>
	<!-- Navigation -->
	<div th:if="${var==null}">
		<div th:replace="user/plantilla/user :: header"></div>
	</div>

	<div th:unless="${var==null}">
		<div th:replace="user/plantilla/user :: logheader"></div>
	</div>

	<!-- Page Content -->
	<div class="container">
		<style>
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}
</style>
		<!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">
			<small>Resumen de la orden</small>
		</h1>

		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
			<li class="breadcrumb-item active">Orden</li>
		</ol>

		<!-- Blog Post -->
		<div class="card mb-4">
			<div class="card-body">
				<div class="row">
					<div class="col-lg-9">
						<div class="card-body">
							<h5 class="card-title">DATOS ORDEN</h5>
							<h6>
								Nombre:<span th:text="' ' + ${usuario.nombre}"></span>
								<div>
									<h6>
										Correo:<span th:text="' ' + ${usuario.email}">
									</h6>
									<h6>
										Dirección:<span th:text="' ' + ${usuario.direccion}">
									</h6>
									<br>

									<h5 class="card-title">PRODUCTOS</h5>
									<div class="alert alert-light" role="alert">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">Producto</th>
													<th scope="col">Precio</th>
													<th scope="col">Cantidad</th>
													<th scope="col">Total</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="item : ${carrito}">
													<td th:text="${item.nombre}">Nombre</td>
													<td th:text="${item.precio}">Precio</td>
													<td th:text="${item.cantidad}">Cantidad</td>
													<td th:text="${item.total}">Total</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
						</div>
					</div>
					<div class="col-lg-3">
						<h2 class="card-title">Resumen Orden</h2>

						<ul class="list-group">
							<li class="list-group-item">
								<h5 th:text=" 'Total: ' + ${boleta.total}">Total:</h5>
							</li>
							<!-- th:href="@{/guardarboleta}" -->
							<button type="button" class="btn btn-dark mt-2"
								data-bs-toggle="modal" data-bs-target="#entregaModal">
								Proceder a pagar</button>

						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->

		<!-- Footer-->
		<div th:replace="user/plantilla/user :: pie"></div>
		<div th:replace="user/plantilla/user :: librerias"></div>

		<!-- Modal tipo de entrega -->

		<div class="modal fade" id="entregaModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">¿Cómo quieres
							recibir tu pedido?</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<span>El tipo delivery tendrá un costo adiconal de 5 soles
							y tardará aproximadamente 1 hora</span><br> <span>Si quieres
							recoger en tienda , tu pedido estará listo en 20 minutos sin
							costo adicional</span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-toggle="modal" data-bs-target="#tiendaModal">
							<i class="fas fa-store-alt me-2"></i>En tienda
						</button>
						<button type="button" class="btn btn-primary"
							data-bs-toggle="modal" data-bs-target="#deliveryModal">
							<i class="fas fa-shipping-fast me-2"></i>Delivery
						</button>
					</div>
				</div>
			</div>
		</div>



		<!-- Modal Delivery -->

		<div class="modal fade" id="deliveryModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-body">

						<div class="card px-4">
							<p class="h8 py-3">Detalles del Pago</p>
							<div class="row gx-3">
								<div class="col-12">
									<div class="d-flex flex-column">
										<p class="text mb-1">Nombre de la tarjeta</p>
										<input class="form-control mb-3" type="text"
											placeholder="Name">
									</div>
								</div>
								<div class="col-12">
									<div class="d-flex flex-column">
										<p class="text mb-1">Número de la tarjeta</p>
										<input class="form-control mb-3" type="number" id="num"
											ondrop="return false;" placeholder="1234 5678 4356 1278">
									</div>
								</div>
								<div class="row">
									<p class="text mb-1">Fecha de expitación</p>
									<div class="col-6">
										<label>Mes</label> <input class="form-control mb-3" id="mes"
											type="number" min=01 max=12 placeholder="05">
									</div>
									<div class="col-6">
										<label>Año</label> <input class="form-control mb-3"
											type="number" placeholder="2022" id="year">
									</div>
								</div>
								<div class="col-6">
									<div class="d-flex flex-column">
										<p class="text mb-1">CVV/CVC</p>
										<input class="form-control mb-3 pt-2 " id="cvc"
											type="password" placeholder="***">
									</div>
								</div>
								<div class="row">
									<div class="col-7">
										<a type="button" class=" btn btn-danger"
											data-bs-toggle="tooltip" data-bs-placement="bottom"
											title="Pagaras al recibir tu pedido" th:href="@{/gbdc}">
											<i class="fas fa-hand-holding me-1"></i>Pago contraentrega
										</a>
									</div>
									<div class="col-5">
										<div class=" mb-3">
											<a th:href="@{/gbdt}" data-bs-toggle="tooltip"
												data-bs-placement="bottom" title="Pagar con tarjeta"
												class="ps-3 btn btn-success text-decoration-none"><i
												class="fab fa-cc-visa me-1"></i> Pagar <span
												th:text=" 'S/' + ${boleta.total + 5}"></span> </a>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Modal  tienda -->

		<div class="modal fade" id="tiendaModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">

					<div class="modal-body">

						<div class="card px-4">
							<p class="h8 py-3">Detalles del Pago</p>
							<div class="row gx-3">
								<div class="col-12">
									<div class="d-flex flex-column">
										<p class="text mb-1">Nombre de la tarjeta</p>
										<input class="form-control mb-3" type="text"
											placeholder="Name">
									</div>
								</div>
								<div class="col-12">
									<div class="d-flex flex-column">
										<p class="text mb-1">Número de la tarjeta</p>
										<input class="form-control mb-3" type="number" id="num"
											ondrop="return false;" placeholder="1234 5678 4356 1278">
									</div>
								</div>
								<div class="row">
									<p class="text mb-1">Fecha de expiración</p>
									<div class="col-6">
										<label>Mes</label> <input class="form-control mb-3" id="mes"
											type="number" min=01 max=12 placeholder="05">
									</div>
									<div class="col-6">
										<label>Año</label> <input class="form-control mb-3"
											type="number" placeholder="2022" id="year">
									</div>
								</div>
								<div class="col-6">
									<div class="d-flex flex-column">
										<p class="text mb-1">CVV/CVC</p>
										<input class="form-control mb-3 pt-2 " id="cvc"
											type="password" placeholder="***">
									</div>
								</div>
								<div class="row">
									<div class="col-7">
										<a type="button" class=" btn btn-danger"
											data-bs-toggle="tooltip" data-bs-placement="bottom"
											title="Pagaras al recibir tu pedido" th:href="@{/gbtc}">
											<i class="fas fa-hand-holding me-1"></i>Pago contraentrega
										</a>
									</div>
									<div class="col-5">
										<div class=" mb-3">
											<a th:href="@{/gbtt}" data-bs-toggle="tooltip"
												data-bs-placement="bottom" title="Pagar con tarjeta"
												class="ps-3 btn btn-success text-decoration-none"><i
												class="fab fa-cc-visa me-1"></i> Pagar <span
												th:text=" 'S/' + ${boleta.total}"></span> </a>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			var input = document.getElementById('cvc');
			input.addEventListener('input', function() {
				if (this.value.length > 3)
					this.value = this.value.slice(0, 3);
			});

			var input = document.getElementById('year');
			input.addEventListener('input', function() {
				if (this.value.length > 4)
					this.value = this.value.slice(0, 4);
			});

			var input = document.getElementById('mes');
			input.addEventListener('input', function() {
				if (this.value.length > 2)
					this.value = this.value.slice(0, 2);
			});

			var input = document.getElementById('num');
			input.addEventListener('input', function() {
				if (this.value.length > 16)
					this.value = this.value.slice(0, 16);
			});
		</script>
</body>

</html>